body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, lightgray, grey);
}

.buttons-box {
    width: 30%;
    background: lightgray;
    padding: 2%;
    margin-top: 3%;
    float: left;
    margin-left: 10%;
}

.buttons-box input {
    display: block;
    margin-left: auto; 
    margin-right: 1%;
    margin-bottom: 10px;
}

.buttons-box label {
    font-size: 13px;
    color: grey;
    float: left;
    margin-bottom: 10px;
}

#convert-to-pixels {
    display:block;
    margin: 0 auto;
    margin-top: 8%;
}

#convert-to-angle {
    display:block;
    margin: 0 auto;
    margin-top: 8%;
}

.footer {
    clear: both;
    margin: 0 auto;
    line-height: 3px;
    overflow: hidden;
    margin-top: 32%;
    padding-bottom: 10%;
}

.footer a{
    color: black;
}

.footer a:hover {
    color: lightgray;
}

body p {
    margin-right: 25%;
    padding-left: 5%;
}

h1 {
    padding-left: 5%;
}

.buttons-box p {
    padding: 0;
}